* {
    margin: 0px;
    padding: 0px;
}

a {
    text-emphasis: none;
}

/* heard */
.header {
    margin: 30px auto;
    height: 42px;
}
.width {
    width: 1200px;
}

/* logo */
.logo {
    float: left;
    margin-right: 60px;
}

/* nav li */
li {
    list-style: none;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    height: 40px;
    padding: 0 10px;
    margin-right: 20px;
    line-height: 40px;
    font-size: 18px;
    color: #050505;
    text-decoration: none;
}


/* search */
.search {
    float: left;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 340px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    padding-left: 20px;
    color: #ccc;
}

.search button{
    float: left;
    width: 50px;
    height: 42px;
    background: url(images/btn.png);
}

button {
    border: none;
}

/* user */
.user {
    float: left;
    height: 42px;
    line-height: 42px;
    margin-left: 30px;
    font-size: 14px;
    color: #666;
}